<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas VueJs</title>
</head>
<body>


    <div id="app">
       
        <ul>
            <li v-for="(c, index) in comments">
       
                <button @click="up(index)" >+</button><br>
                {{ c.comment }} || {{ c.date }} || Score : {{ c.score }}
                <br>
                <button @click="down(index)">-</button>
                
            </li>
        </ul>

        <textarea cols="30" rows="10" @keyup.enter="addComment" v-model="content"></textarea>
    </div>


    <script src="assets/vendor/vue.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>